# Platform-specific files and folders
.vscode/
*.dSYM/
*.exe

# Build artifacts
build/
obj/

# User-specific files
.DS_Store
Thumbs.db

# venv
venv/

# large files?
graph_generation/*.txt
graph_generation/*.json
graph_generation/graph.txt
